joblib
git+https://github.com/cloudpipe/cloudpickle.git
git+https://github.com/dask/dask.git
git+https://github.com/dask/distributed.git
git+https://github.com/GoogleCloudPlatform/google-cloud-python.git
